* {
    font-family: Arial, Helvetica, sans-serif;
}
#audio_player {
    position: fixed;
    width: 200px;
    height: 380px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #00ff90;
    overflow: hidden;
}        
#audio_player .player_head {
    width: 198px;
    height: 14px;
    background-color: gray;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#audio_player .openFileButton {
    position: relative;
    top: 8px;
    left: 8px;
}
#audio_player .inputFile {
    position: absolute;
    top: 26px;
    left: 8px;
    width: 24px;
    opacity: 0.0;
}
#audio_player #equalizer {
    position: relative;
    top: 25px;
    left: 10px;
    border: 1px solid #696969;
    width: 80px;
    padding: 5px;
}
#audio_player #visualizer {
    position: relative;
    top: 16px;
    left: 16px;
    background-color: yellow;
    border: 1px solid white;
    width: 160px;
    height: 64px;
    overflow: hidden;
}
#audio_player #titleAndArtistDiv {
    position: relative;
    top: 12px;
    left: 8px;
    width: 180px;
}
#audio_player #filename {
    position: relative;
    top: 8px;
    left: 8px;
    background-color: white;
    border-radius: 3px;
    width: 180px;
}